server:
  port: 8888
eureka:
  dashboard:
    enabled: true
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
  #    service-urlï¼šhttp://localhost:8888/eureka/
  server:
    enable-self-preservation: false
    wait-time-in-ms-when-sync-empty: 30000
spring:
  application:
    name: eureka-server